.table-template {
  background: white;
  width: 100%;
  height: 23%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); /* 그림자 */ 
  margin: 0 auto; /* 페이지 중앙 정렬 */
  margin-top: 1rem;
  
}

.side-paddings {
  margin-left: 25%;
  margin-right: 25%;
  
}

.side-align {
  text-align: center;
  margin-top: 10px;
}

.align{
  margin-top: 10px;
}